{% extends "core/pages/space_detail.html" %}
{% block content %}
    <div class="flex py-5 flex-col flex-grow sm:flex-row">
        <div class="w-full sm:max-w-[28rem] px-2 pb-5 sm:px-6">
            <div class="flex flex-col rounded-lg border border-gray-100 bg-white p-6 shadow">
                <h2 class="text-xl font-medium">Filter Testimonial</h2>
                <div x-data="dropdown()" class="py-4">
                    <input
                        x-on:click="open = !open"
                        class="block w-full input caret-transparent"
                        placeholder="Search Providers"
                    >
                    
                    <div x-show="open" x-on:click.away="open = false" class="mt-2">
                        <!-- Dropdown content goes here -->
                        <div class="bg-white shadow-md rounded-md p-2">
                            <!-- Your dropdown list items go here -->
                            <div x-on:click="toggleOption('Option 1')" :class="{ 'bg-gray-200': selectedOptions.includes('Option 1') }" class="cursor-pointer hover:bg-gray-100 p-2">Option 1</div>
                            <div x-on:click="toggleOption('Option 2')" :class="{ 'bg-gray-200': selectedOptions.includes('Option 2') }" class="cursor-pointer hover:bg-gray-100 p-2">Option 2</div>
                            <div x-on:click="toggleOption('Option 3')" :class="{ 'bg-gray-200': selectedOptions.includes('Option 3') }" class="cursor-pointer hover:bg-gray-100 p-2">Option 3</div>
                        </div>
                    </div>
                
                    <!-- Display selected options below the input -->
                    <div x-show="selectedOptions.length > 0" class="mt-2">
                        Selected Options: <span x-text="selectedOptions.join(', ')"></span>
                    </div>
                </div>
            </div>  
        </div>
        <div class="grid-flow-col gap-8 w-full px-2" x-data="{ testimonials: [] }" x-init="testimonials = await (await fetch('{% url 'testilime-core:get-testimonial-list' slug=project.slug %}')).json()">
            <template x-show="testimonials.length" x-for="testimonial in testimonials">
                <div class="flex flex-col space-y-5 rounded-lg border border-gray-100 bg-white p-6 shadow transition-all hover:shadow-lg mb-4">
                    <div class="flex justify-between items-center">
                        <h2 class="block text-lg mb-2 font-medium" x-text="testimonial.author_name"></h2>
                        <p class="text-gray-500" x-text="testimonial.created_at_formatted">Submitted at</p>
                    </div>
                    <p class="text-gray-700" x-text="testimonial.testimonial"></p>
                </div>
            </template>    
        </div>
    </div>

    <script>
        function filterTestimonials(selectedProvider) {
            console.log(selectedProvider)
            // Use the selected provider to filter testimonials
            // const filteredTestimonials = selectedProvider
            //    ? testimonials.filter(testimonial => testimonial.import_provider === selectedProvider)
            //    : testimonials;

            // Update the filteredTestimonials array
            // Alpine.store('filteredTestimonials', filteredTestimonials);
        }

        function dropdown() {
            return {
                open: false,
                selectedOptions: [],

                toggleOption(option) {
                    const index = this.selectedOptions.indexOf(option);

                    if (index === -1) {
                        this.selectedOptions.push(option);
                    } else {
                        this.selectedOptions.splice(index, 1);
                    }

                    const options = this.selectedOptions
                },
            };
        }
    </script>
    
{% endblock %}