{% extends "base_app.html" %}
{% block main %}
    <div class="px-4 py-2 md:px-16 bg-white border-b">
        <div class="2xl:container w-full mx-auto py-6">
            <div class="flex justify-between items-center">
                <h1 class="text-2xl font-bold text-gray-900 pl-8">{{ project.name }}</h1>
                <div class="grid grid-cols-2 gap-3">
                    <a class="btn btn-white btn-medium" href="{% url 'testilime-core:project-import-testimonial' slug=project.slug %}">
                        <div class="flex items-center mx-auto">
                            <span class="ml-2">Import Testimonial</span>
                        </div>
                    </a>
                    <a class="btn btn-white btn-medium">
                        <div class="flex items-center mx-auto">
                            <span class="ml-2">Visit Collection Page</span>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="flex grid-flow-row gap-x-6 text-md font-semibold text-gray-500 pt-5 pl-8">
                <li><a href="{% url 'testilime-core:project-detail' slug=project.slug %}">Testimonial</a></li>
                <li><a href="{% url 'testilime-core:project-detail-embeds-and-sharing' slug=project.slug %}">Embeds and Sharing</a></li>
                <li><a href="{% url 'testilime-core:project-detail-domain-settings' slug=project.slug %}">Domain</a></li>
                <li><a href="{% url 'testilime-core:project-detail-space-settings' slug=project.slug %}">Space Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="w-5/6 mx-auto">
        {% block content %}{% endblock %}
    </div>
{% endblock %}