{% for provider in providers %}
<div  x-show="activeTab === {{provider.index}}" class="flex h-full flex-col overflow-hidden rounded-b-2xl rounded-t-2xl border bg-white shadow-sm sm:rounded-b-none">
    <!-- Your content goes here -->
    <div class="text-lg font-medium pt-4 px-4 sm:px-8">
        <h1>Import from {{provider.label}}</h1>
    </div>
    <div x-data="{ formData: {} }" class="flex-grow overflow-y-auto px-4 pb-4 pt-4 sm:px-8">
        <form method="post" action="{% url 'testilime-core:project-import-testimonial' slug=slug %}" @submit.prevent="submitForm">
            {% csrf_token %}
            {{ provider.form }}
            <input type="hidden" name="provider_index" id="provider_index" value="{{provider.index}}" x-model="formData" required>
            <div class="mt-5">
                <input type="submit" value="Submit" class="w-full btn text-white btn-medium border-2 border-black bg-black hover:bg-white hover:text-black"/>
            </div>
        </form>
    </div>
</div>
{% endfor %}
<script>
    // Alpine.js component logic
    function submitForm() {
            // Get the form data using Alpine.js
            const formData = this.formData;

            // Send a POST request to the Django view
            fetch("{% url 'testilime-core:project-import-testimonial' slug=slug %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
                body: new URLSearchParams({ 'data': formData }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Handle the JsonResponse as needed
            });
        }

        window.submitForm = submitForm;
</script>